hr {
    color: rgba(0, 0, 255, 0.404);
    border-width: 1.5px;
    border-style: solid;
    margin: 40px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    // overflow: hidden;
}
.card {
    min-width: 185px;
    // border: 1px solid rgba(146, 146, 146, 0.555);
    background-color: rgb(214, 214, 214);
    background-position: center;
    background-size: cover;
    margin: 24px;
    border-radius: 4px;
    text-align: left;
    height: 185px;
    box-shadow: 10px 10px 33px 2px rgba(0,0,0,0.17);

}

section#main {
    width: 90%;
    margin: 0 auto;
    h2 {
        font-size: 2rem;
        color: #303036;
    }

}

section#about-us {
    width: 90%;
    margin: 0 auto;
    h2 {
        font-size: 2rem;
        margin-bottom: 25px;

    }
    div.about-content {
        display: flex;
        justify-content: center;
        align-items: center;
        div.about-img {
            background-image: url(/assets/about.jpg);
            background-position: center;
            background-size: cover;
            min-width: 440px;
            height: 319px;
            margin: 0;

        }
        p {
            font-size: 1.5rem;
            color: #484752;
            margin: 20px;
        }
    }
}

footer {
    margin-top: 30px;
    background-color: #303036;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-size: 2rem;
        color: white;
        margin: 10px;
    }
    h4 {
        color: white;
        margin: 10px;
        font-size: 1rem;
        margin-left: 10%;
    }
}