.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    display: flex;
    width: 250px;
    border: 1px solid rgba(146, 146, 146, 0.555);
    background-color: rgba(255, 255, 255, 0.658);
    flex-direction: column;
    margin: 30px;
    border-radius: 4px;
    padding: 15px;
    text-align: left;
}

section#what-we-do {
    height: 300px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.829);
    .card {
        background-color: rgb(168, 168, 168);
    }
}