nav {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
    max-width: 100%;
    position: inherit;
    margin: 0 auto;
    padding: 20px;

    input.nav-input {
        background: rgba(255, 255, 255, 0.568) url(/assets/magnifying-glass.png) 5% no-repeat;
        border: none;
        padding-left: 30px;
        height: 25px;
        border-radius: 3px;
    }
    a.link {
        padding: 15px;
        text-decoration: none;
        color: white;

    }
    a.logo {
        padding: 15px;
        text-decoration: none;
        margin: 0 20% 0 20%;
    }

}